/* CSS RESETS */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* END OF CSS RESETS */

/* BASE STYLES */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* END OF BASE STYLES */

.header {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0 0 0;
  font-weight: 900;
}

.startGame {
  text-align: center;
  padding: 1rem 0 0 0;
}

.startGame #startBtn {
  border: 1px solid black;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  padding: 0 1rem;
}

.game {
  display: flex;
  justify-content: center;
  gap: 6rem;
  font-size: 1.5rem;
  visibility: hidden;
}

.game .display {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.display .scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreboard .scoreCounter {
  width: 12rem;
  display: flex;
  flex-direction: column;
}

#computerScore,
#playerScore {
  font-size: 4.5rem;
  font-weight: 600;
}

.scoreboard .currentRound {
  font-size: 1.5rem;
}

.display .currentRoundSelection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.currentRoundSelection .roundChoice {
  width: 24rem;
  height: 24rem;
}

.currentRoundSelection span {
  font-style: italic;
  font-weight: 600;
}

.display #resultsDisplay {
  font-size: 3rem;
  font-weight: 400;
  flex: 1;
  padding: 1.5rem 0 0 0;
}

.game .playerInputBtns {
  display: flex;
  flex-direction: column;
}

.playerInputBtns button {
  border: none;
}

.playerInputBtns img {
  width: 12rem;
}
